* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 239, 239);
}

.navbar {
  background-color: #232a2d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  height: 50px;
  margin-top: 0px;
}
.logo img {
  width: 35px;
  display: flex;
}
.menu a {
  color: white;
  /* border: 1px solid black; */
  text-decoration: none;
  margin-left: 15px;
}
p {
  font-size: 16px;
  margin: 5px;
}
.titulo {
  color: #333;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
}

.descricao p {
  font-size: 28px;
  display: flex;
  justify-content: center;
}
#links {
  margin-left: 50px;
}

.outros {
  margin-left: 50px;
}

.tabela-preco {
  width: 80%;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
}

fieldset {
  width: 30%;
}

h2 {
  font-size: 20px;
}

#h1-form {
  color: #555;
  font-family: "Trebuchet MS", sans-serif;
  text-align: left;
  margin-left: 50px;
}

.botao {
  font-size: 15px;
  background-color: rgb(62, 67, 236);
  margin-left: 5px;
  color: white;
  border-radius: 10%;
}

.botao:hover {
  color: rgba(62, 68, 236, 0.697);
  font-size: 16px;
  cursor: pointer;
  color: white;
}

input,
textarea {
  background-color: rgb(233, 242, 239);
}

th {
  font-weight: bold;
  font-size: 18px;
}

/* Seção da Imagem de Fundo */
.hero {
  height: calc(100vh - 50px); /* Ocupa a tela toda menos a altura da nav */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/background/mt-background-home.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  text-align: center;
  color: white;
}

.hero-content h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.2rem;
}
